.form {
    display: flex;
    border: 1px black solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-direction: column;
    width: min-content;
    height: min-content;
    text-align: center;
    gap: 5px;
    background-color: #282E33;
}

.form>h1 {
    color: #cfcfcf;
}

.main {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #18191D;
}