.button {
    background-color: #009687;
    outline: none;
    border-radius: 10px;
    border: none;
    height: 1.75rem;
    color: rgb(61, 61, 61);
}

.button:hover {
    background-color: #00aa99;
    color: rgb(61, 61, 61);
}

.button:active {
    background-color: #009687;
    color: rgb(61, 61, 61);
}