.input {
    border: 1px #484848 solid;
    outline: none;
    background-color: #3d444b;
    border-radius: 10px;
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #c4c4c4;
    transition: all 0.2s;
}

.input:focus {
    background-color: #3d444b;
    color: #c4c4c4;
}

.input:focus::placeholder {
    color: #818991;
}